# Built application files
*.apk
*.ap_
*.aab

# Gradle files
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml

# Native build
.externalNativeBuild/
.cxx/

# Log & temp files
*.log
*.hprof
captures/
.DS_Store
Thumbs.db

.kotlin/
*.salive
