<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.openingtip.enforcement.managed.TipDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="开屏Tip 设备所有者"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
                <action android:name="android.app.action.LOCK_TASK_ENTERING" />
                <action android:name="android.app.action.LOCK_TASK_EXITING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
